!README.md
**/terraform.tfstate*
**/.terraform
**/.bitwarden
**/.terraform.lock*
contabo/haproxy-example.conf
**/aws/lambda/source/**/layer.zip
**/aws/lambda/source/**/python
**/aws/lambda/source/**/package
**/aws/lambda/source/**/*.zip
node_modules

# Local Netlify folder
.netlify
